<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>
  <key>destination</key>
  <string>upload</string>
  <key>teamID</key>
  <string>S6565PPGRT</string>
  <key>uploadBitcode</key>
  <false/>
  <key>uploadSymbols</key>
  <true/>
  <key>signingStyle</key>
  <string>automatic</string>
  <key>authenticationKeyPath</key>
  <string>/Users/mataldao/.appstoreconnect/private_keys/AuthKey_A93H45TYS3.p8</string>
  <key>authenticationKeyID</key>
  <string>A93H45TYS3</string>
  <key>authenticationKeyIssuerID</key>
  <string>befadbf1-4e14-4f57-b39f-0ca58dce537b</string>
</dict>
</plist>
